@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<div>
    <h3>Welcome!</h3>
</div>

<p>
    @if (ViewBag.Submitted)
    {
        // If the form was submitted
        @ViewBag.Message
    }
</p>